@model Rinsen.InnovationBoost.Models.LoggerModel
@using Newtonsoft.Json;
@using Newtonsoft.Json.Serialization;

@{
    ViewBag.NgAppName = "app";
}
<style>
    .textlimit {
        display: block;
        width: 50em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .row.top-buffer {
        margin-top: 20px;
    }
</style>
<div data-ng-controller="LoggerController as vm">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom ng-cloak">
        <h1 class="h2">Logger</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
            </button>
        </div>
    </div>
    <div>
        <div isteven-multi-select data-input-model="vm.options.logEnvironments" data-output-model="vm.selection.logEnironments" data-button-label="name" data-item-label="name" data-tick-property="selected" style="display:inline-block"></div>
        <div isteven-multi-select data-input-model="vm.options.logApplications" data-output-model="vm.selection.logApplications" data-button-label="name" data-item-label="name" data-tick-property="selected" style="display:inline-block"></div>
        <div isteven-multi-select data-input-model="vm.options.logLevels" data-output-model="vm.selection.logLevels" data-button-label="name" data-item-label="name" data-tick-property="selected" style="display:inline-block"></div>
        <div isteven-multi-select data-input-model="vm.options.logSources" data-output-model="vm.selection.logSources" data-button-label="name" data-item-label="name" data-tick-property="selected" style="display:inline-block"></div>
        <div class="form-inline" style="display:inline-block">
            <div class="form-group" style="display:inline-block">
                <label for="from">From</label>
                <input class="form-control" type="datetime-local" id="from" data-ng-model="vm.options.from" />
            </div>
            <div class="form-group" style="display:inline-block">
                <label for="to">To</label>
                <input class="form-control" type="datetime-local" id="to" data-ng-model="vm.options.to" />
            </div>
        </div>
        <div style="display:inline-block">
            <button class=" btn btn-primary" data-ng-click="vm.show()">
                Show
            </button>
        </div>
        <div style="display:inline-block">
            Number of logs {{vm.logs.length}}, Pages {{vm.pages}}
        </div>
        <div class="table-responsive">
            <table st-table="logTable" st-safe-src="vm.logs" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th colspan="7"><input st-search="" class="form-control" placeholder="global search ..." type="text" /></th>
                    </tr>
                    <tr>
                        <th st-sort="id">Id</th>
                        <th st-sort="sourceName">SourceName</th>
                        <th st-sort="message">Message</th>
                        <th st-sort="applicationName">ApplicationName</th>
                        <th st-sort="logLevelName">LogLevel</th>
                        <th st-sort="environmentName">Environment</th>
                        <th st-sort="timestamp">Timestamp</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat-start="log in logTable" data-ng-click="log.expanded = !log.expanded">
                        <td>{{log.id}}</td>
                        <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 20em;">{{log.sourceName}}</td>
                        <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 20em;">{{log.message}}</td>
                        <td>{{log.applicationName}}</td>
                        <td>{{log.logLevelName}}</td>
                        <td>{{log.environmentName}}</td>
                        <td style="white-space: nowrap">{{log.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    </tr>
                    <tr data-ng-show="false"></tr>
                    <tr data-ng-show="log.expanded" data-ng-repeat-end="">
                        <td colspan="7">
                            <table class="table table-striped table-bordered">
                                <tbody>
                                    <tr data-ng-repeat="prop in log.logProperties">
                                        <td>{{prop.name}}</td>
                                        <td><div data-ng-bind-html="prop.value"></div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7" class="text-center">
                            <div st-pagination="" st-items-by-page="100" st-displayed-pages="7"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <div data-ng-show="!vm.dataLoading && vm.logs.length === 0">
                <div class="alert alert-info" role="alert">No logs to display</div>
            </div>
            <div class="loader popup" data-ng-show="vm.dataLoading"></div>
        </div>
    </div>
    <div id="selectionOptions" data-json="@JsonConvert.SerializeObject(Model.SelectionOptions, new JsonSerializerSettings { ContractResolver = new CamelCasePropertyNamesContractResolver() })"></div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_Angular");}
}

