@{
    ViewBag.NgAppName = "app";
}

@section Scripts {
    @{await Html.RenderPartialAsync("_Angular");}
}

<style>
    .sortorder:after {
        content: '\25b2';
    }

    .sortorder.reverse:after {
        content: '\25bc';
    }

    .table-menu {
        margin-top: 2em;
    }
    .margin-bottom {
        margin-bottom: .5em;
    }
    .new-item {
        background-color: #caf9d7 !important;
    }
    .updated-item {
        background-color: #f9efca !important;
    }
    .deleted-item {
        background-color: #f9caca !important;
    }
</style>
<div class="container-fluid ng-cloak" data-ng-controller="IdentityServerApiResourceController as vm">
    <div class="row" data-ng-hide="vm.selectedApiResource !== null">
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Display Name</th>
                        <th>Description</th>
                        <th>Active</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="apiResource in vm.apiResources">
                        <td><a data-ng-click="vm.selectIdentityResource(apiResource)">{{apiResource.name}}</a></td>
                        <td><span class="text-nowrap">{{apiResource.displayName}}</span></td>
                        <td><span class="text-nowrap">{{apiResource.description}}</span></td>
                        <td>{{apiResource.enabled}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div data-ng-if="vm.selectedApiResource !== null">
        <div class="row">
            <div class="col-sm-12 inlineBlock">
                <h1>{{vm.selectedApiResource.displayName}}</h1>
            </div>
        </div>
        <div class="row margin-bottom">
            <div class="col-sm-12">
                <button data-ng-click="vm.saveApiResource()" class="btn btn-primary">Save</button>
                <button data-ng-click="vm.undoChanges()" class="btn btn-warning">Undo</button>
                <button data-ng-click="vm.selectedApiResource = null" class="btn btn-default">Close</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs">
                    <li role="presentation" data-ng-class="{'active': vm.selectedTab === 'General'}"><a data-ng-click="vm.selectedTab = 'General'">General</a></li>
                    <li role="presentation" data-ng-class="{'active': vm.selectedTab === 'ApiSecrets'}"><a data-ng-click="vm.selectedTab = 'ApiSecrets'">Api Secrets</a></li>
                    <li role="presentation" data-ng-class="{'active': vm.selectedTab === 'Claims'}"><a data-ng-click="vm.selectedTab = 'Claims'">Claims</a></li>
                    <li role="presentation" data-ng-class="{'active': vm.selectedTab === 'Scopes'}"><a data-ng-click="vm.selectedTab = 'Scopes'">Scopes</a></li>
                </ul>
                <div class="row" data-ng-show="vm.selectedTab === 'General'">
                    <form>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" value="{{vm.selectedApiResource.name}}">
                            </div>
                            <div class="form-group">
                                <label for="displayName">Display Name</label>
                                <input type="text" class="form-control" id="displayName" value="{{vm.selectedApiResource.displayName}}">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" data-ng-model="vm.selectedApiResource.enabled">Enabled
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <input type="text" class="form-control" id="description" value="{{vm.selectedApiResource.description}}">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row" data-ng-show="vm.selectedTab === 'ApiSecrets'">
                    <div class="col-sm-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Description</th>
                                    <th>Expiration</th>
                                    <th>Type</th>
                                    <th>Value</th>
                                    <th>Created</th>
                                    <th>Updated</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="apiSecret in vm.selectedIdentityResource.apiSecrets" data-ng-class="{'new-item': apiSecret.state == 1, 'updated-item': apiSecret.state == 2, 'deleted-item': apiSecret.state == 3 || apiSecret.state == 4 }">
                                    <td><input class="form-control" type="text" data-ng-model="apiSecret.description" data-ng-change="vm.setModified(apiSecret)" /></td>
                                    <td><input class="form-control" type="text" data-ng-model="apiSecret.expiration" data-ng-change="vm.setModified(apiSecret)" /></td>
                                    <td><input class="form-control" type="text" data-ng-model="apiSecret.type" data-ng-change="vm.setModified(apiSecret)" /></td>
                                    <td><input class="form-control" type="text" data-ng-model="apiSecret.value" data-ng-change="vm.setModified(apiSecret)" /></td>
                                    <td>{{apiSecret.created | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td>{{apiSecret.updated | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td><span data-ng-click="vm.toggleDelete(apiSecret)" class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" type="text" data-ng-model="vm.create.claimType" /></td>
                                    <td><input class="form-control" type="text" data-ng-model="vm.create.claimValue" /></td>
                                    <td></td>
                                    <td></td>
                                    <td><span data-ng-click="vm.createNewClaim()" class="glyphicon glyphicon-save" aria-hidden="true"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row" data-ng-show="vm.selectedTab === 'Claims'">
                    <div class="col-sm-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Value</th>
                                    <th>Created</th>
                                    <th>Updated</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="claim in vm.selectedIdentityResource.claims" data-ng-class="{'new-item': claim.state == 1, 'updated-item': claim.state == 2, 'deleted-item': claim.state == 3 || claim.state == 4 }">

                                    <td><input class="form-control" type="text" data-ng-model="claim.type" data-ng-change="vm.setModified(claim)" /></td>
                                    <td><input class="form-control" type="text" data-ng-model="claim.value" data-ng-change="vm.setModified(claim)" /></td>
                                    <td>{{claim.created | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td>{{claim.updated | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td><span data-ng-click="vm.toggleDelete(claim)" class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" type="text" data-ng-model="vm.create.claimType" /></td>
                                    <td><input class="form-control" type="text" data-ng-model="vm.create.claimValue" /></td>
                                    <td></td>
                                    <td></td>
                                    <td><span data-ng-click="vm.createNewClaim()" class="glyphicon glyphicon-save" aria-hidden="true"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row" data-ng-show="vm.selectedTab === 'Scopes'">
                    <div class="col-sm-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Value</th>
                                    <th>Created</th>
                                    <th>Updated</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="claim in vm.selectedIdentityResource.claims" data-ng-class="{'new-item': claim.state == 1, 'updated-item': claim.state == 2, 'deleted-item': claim.state == 3 || claim.state == 4 }">

                                    <td><input class="form-control" type="text" data-ng-model="claim.type" data-ng-change="vm.setModified(claim)" /></td>
                                    <td><input class="form-control" type="text" data-ng-model="claim.value" data-ng-change="vm.setModified(claim)" /></td>
                                    <td>{{claim.created | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td>{{claim.updated | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td><span data-ng-click="vm.toggleDelete(claim)" class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" type="text" data-ng-model="vm.create.claimType" /></td>
                                    <td><input class="form-control" type="text" data-ng-model="vm.create.claimValue" /></td>
                                    <td></td>
                                    <td></td>
                                    <td><span data-ng-click="vm.createNewClaim()" class="glyphicon glyphicon-save" aria-hidden="true"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

