@{
    ViewBag.NgAppName = "app";
}

@section Scripts {
    @{await Html.RenderPartialAsync("_Angular");}
}

<style>
    .sortorder:after {
        content: '\25b2';
    }

    .sortorder.reverse:after {
        content: '\25bc';
    }

    .table-menu {
        margin-top: 2em;
    }
    .margin-bottom {
        margin-bottom: .5em;
    }
    .new-item {
        background-color: #caf9d7 !important;
    }
    .updated-item {
        background-color: #f9efca !important;
    }
    .deleted-item {
        background-color: #f9caca !important;
    }
</style>
<div data-ng-controller="IdentityServerClientController as vm">
    <div data-ng-hide="vm.selectedClient !== null || vm.create.active === true">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" >
            <h1 class="h2">Clients</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                    <button class="btn btn-sm btn-outline-primary" type="button" data-ng-click="vm.create.active = true">Create Client</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                </div>
            </div>
        </div>
        <div>
            <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="border-top-0">Name</th>
                                <th class="border-top-0">Description</th>
                                <th class="border-top-0">Type</th>
                                <th class="border-top-0">Active</th>
                                <th class="border-top-0"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="client in vm.clients" style="cursor:pointer">
                                <td><span class="text-nowrap" data-ng-click="vm.selectClient(client)">{{client.clientName}}</span></td>
                                <td><span class="text-nowrap" data-ng-click="vm.selectClient(client)">{{client.description}}</span></td>
                                <td data-ng-click="vm.selectClient(client)">{{client.clientTypeName}}</td>
                                <td data-ng-click="vm.selectClient(client)">{{client.enabled}}</td>
                                <td><img data-ng-click="vm.deleteClient(client)" alt="trash" height="32" src="/icons/trash.svg" title="trash" width="32"></td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
    <div data-ng-if="vm.create.active === true">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom ng-cloak">
            <h1 class="h2">Create client</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                    <button data-ng-click="vm.create.active = false" class="btn btn-sm btn-outline-secondary" data-ng-disabled="vm.saving">Cancel</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <form>

                    <div class="form-group">
                        <label for="clientName">Client Name</label>
                        <input type="text" class="form-control" id="clientName" data-ng-model="vm.create.clientName">
                    </div>
                    <div class="form-group">
                        <label for="clientDescription">Description</label>
                        <input type="text" class="form-control" id="clientDescription" data-ng-model="vm.create.clientDescription">
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Node Client</h3>
                    </div>
                    <div class="panel-body">
                        <button class="btn btn-default" type="button" data-ng-click="vm.createNewNodeClient()">Create</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Website Client</h3>
                    </div>
                    <div class="panel-body">

                        <button class="btn btn-default" type="button" data-ng-click="vm.createNewWebsiteClient()">Create</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Unknown Client Type</h3>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label for="clientName">Client Id</label>
                                <input type="text" class="form-control" id="clientId" data-ng-model="vm.create.clientId">
                            </div>
                        </form>
                        <button class="btn btn-default" type="button" data-ng-click="vm.create.active = true">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-ng-if="vm.selectedClient !== null">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom ng-cloak">
            <h1 class="h2">{{vm.selectedClient.clientName}}</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                    <button data-ng-click="vm.saveClient()" class="btn btn-sm btn-outline-primary" data-ng-disabled="vm.saving">Save</button>
                    <button data-ng-click="vm.undoChanges()" class="btn btn-sm btn-outline-warning" data-ng-disabled="vm.saving">Undo</button>
                    <button data-ng-click="vm.closeEdit()" class="btn btn-sm btn-outline-secondary" data-ng-disabled="vm.saving">Close</button>
                    <button data-ng-click="vm.selectPreviousClient()" class="btn btn-sm btn-outline-secondary" data-ng-disabled="vm.saving"><img alt="previous" height="32" src="~/icons/chevron-left.svg" title="previous" width="32" />Previous</button>
                    <button data-ng-click="vm.selectNextClient()" class="btn btn-sm btn-outline-secondary" data-ng-disabled="vm.saving">Next<img alt="next" height="32" src="~/icons/chevron-right.svg" title="next" width="32" /></button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link" data-ng-class="{'active': vm.selectedTab === 'General'}" data-ng-click="vm.selectedTab = 'General'">General</a></li>
                    <li class="nav-item"><a class="nav-link" data-ng-class="{'active': vm.selectedTab === 'AllowedCorsOrigins'}" data-ng-click="vm.selectedTab = 'AllowedCorsOrigins'">Allowed Cors Origins</a></li>
                    <li class="nav-item"><a class="nav-link" data-ng-class="{'active': vm.selectedTab === 'AllowedScopes'}" data-ng-click="vm.selectedTab = 'AllowedScopes'">Allowed Scopes</a></li>
                    <li class="nav-item"><a class="nav-link" data-ng-class="{'active': vm.selectedTab === 'AllowedGrants'}" data-ng-click="vm.selectedTab = 'AllowedGrants'">Allowed Grants</a></li>
                    <li class="nav-item"><a class="nav-link" data-ng-class="{'active': vm.selectedTab === 'Claims'}" data-ng-click="vm.selectedTab = 'Claims'">Claims</a></li>
                    <li class="nav-item"><a class="nav-link" data-ng-class="{'active': vm.selectedTab === 'ClientSecrets'}" data-ng-click="vm.selectedTab = 'ClientSecrets'">Client Secrets</a></li>
                    <li class="nav-item"><a class="nav-link" data-ng-class="{'active': vm.selectedTab === 'IdentityProviderRestrictions'}" data-ng-click="vm.selectedTab = 'IdentityProviderRestrictions'">Identity Provider Restrictions</a></li>
                    <li class="nav-item"><a class="nav-link" data-ng-class="{'active': vm.selectedTab === 'PostLogoutRedirectUris'}" data-ng-click="vm.selectedTab = 'PostLogoutRedirectUris'">Post Logout Redirect Uris</a></li>
                    <li class="nav-item"><a class="nav-link" data-ng-class="{'active': vm.selectedTab === 'RedirectUris'}" data-ng-click="vm.selectedTab = 'RedirectUris'">Redirect Uris</a></li>
                </ul>
                <div data-ng-show="vm.selectedTab === 'General'">
                    <form>
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="clientName">Client Name</label>
                                    <input type="text" class="form-control" id="clientName" data-ng-model="vm.selectedClient.clientName" data-ng-change="vm.setModified(vm.selectedClient)">
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <input type="text" class="form-control" id="description" data-ng-model="vm.selectedClient.description" data-ng-change="vm.setModified(vm.selectedClient)">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" data-ng-model="vm.selectedClient.enabled" data-ng-change="vm.setModified(vm.selectedClient)">Enabled
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="clientId">Client Id</label>
                                    <input type="text" class="form-control" id="clientId" data-ng-model="vm.selectedClient.clientId" data-ng-change="vm.setModified(vm.selectedClient)">
                                </div>
                                <div class="form-group">
                                    <label for="created">Created</label>
                                    <input type="text" class="form-control" id="created" value="{{vm.selectedClient.created | date:'yyyy-MM-dd HH:mm'}}" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="updated">updated</label>
                                    <input type="text" class="form-control" id="updated" value="{{vm.selectedClient.updated | date:'yyyy-MM-dd HH:mm'}}" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h2>Advanced</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="absoluteRefreshTokenLifetime">Absolute Refresh Token Lifetime</label>
                                    <input type="text" class="form-control" id="absoluteRefreshTokenLifetime" data-ng-model="vm.selectedClient.absoluteRefreshTokenLifetime" data-ng-change="vm.setModified(vm.selectedClient)">
                                </div>
                                <div class="form-group">
                                    <label for="accessTokenLifetime">Access Token Lifetime</label>
                                    <input type="text" class="form-control" id="accessTokenLifetime" data-ng-model="vm.selectedClient.accessTokenLifetime" data-ng-change="vm.setModified(vm.selectedClient)">
                                </div>
                                <div class="form-group">
                                    <label for="authorizationCodeLifetime">Authorization Code Lifetime</label>
                                    <input type="text" class="form-control" id="authorizationCodeLifetime" data-ng-model="vm.selectedClient.authorizationCodeLifetime" data-ng-change="vm.setModified(vm.selectedClient)">
                                </div>
                                <div class="form-group">
                                    <label for="consentLifetime">Consent Lifetime</label>
                                    <input type="text" class="form-control" id="consentLifetime" data-ng-model="vm.selectedClient.consentLifetime" data-ng-change="vm.setModified(vm.selectedClient)">
                                </div>
                                <div class="form-group">
                                    <label for="identityTokenLifetime">Identity Token Lifetime</label>
                                    <input type="text" class="form-control" id="identityTokenLifetime" data-ng-model="vm.selectedClient.identityTokenLifetime" data-ng-change="vm.setModified(vm.selectedClient)">
                                </div>
                                <div class="form-group">
                                    <label for="deviceCodeLifetime">Device Code Lifetime</label>
                                    <input type="text" class="form-control" id="deviceCodeLifetime" data-ng-model="vm.selectedClient.deviceCodeLifetime" data-ng-change="vm.setModified(vm.selectedClient)">
                                </div>
                                <div class="form-group">
                                    <label for="slidingRefreshTokenLifetime">Sliding Refresh Token Lifetime</label>
                                    <input type="text" class="form-control" id="slidingRefreshTokenLifetime" data-ng-model="vm.selectedClient.slidingRefreshTokenLifetime" data-ng-change="vm.setModified(vm.selectedClient)">
                                </div>
                                <div class="form-group">
                                    <label for="userSsoLifetime">User Sso Lifetime</label>
                                    <input type="text" class="form-control" id="userSsoLifetime" data-ng-model="vm.selectedClient.userSsoLifetime" data-ng-change="vm.setModified(vm.selectedClient)">
                                </div>
                                <div class="form-group">
                                    <label for="accessTokenType">Access Token Type (enum)</label>
                                    <input type="text" class="form-control" id="accessTokenType" data-ng-model="vm.selectedClient.accessTokenType" data-ng-change="vm.setModified(vm.selectedClient)">
                                </div>
                                <div class="form-group">
                                    <label for="refreshTokenExpiration">Refresh Token Expiration (enum)</label>
                                    <input type="text" class="form-control" id="refreshTokenExpiration" data-ng-model="vm.selectedClient.refreshTokenExpiration" data-ng-change="vm.setModified(vm.selectedClient)">
                                </div>
                                <div class="form-group">
                                    <label for="refreshTokenUsage">Refresh Token Usage (enum)</label>
                                    <input type="text" class="form-control" id="refreshTokenUsage" data-ng-model="vm.selectedClient.refreshTokenUsage" data-ng-change="vm.setModified(vm.selectedClient)">
                                </div>
                                <div class="form-group">
                                    <label for="backChannelLogoutUri">Back Channel Logout Uri</label>
                                    <input type="text" class="form-control" id="backChannelLogoutUri" data-ng-model="vm.selectedClient.backChannelLogoutUri" data-ng-change="vm.setModified(vm.selectedClient)">
                                </div>
                                <div class="form-group">
                                    <label for="clientUri">Client Uri</label>
                                    <input type="text" class="form-control" id="clientUri" data-ng-model="vm.selectedClient.clientUri" data-ng-change="vm.setModified(vm.selectedClient)">
                                </div>
                                <div class="form-group">
                                    <label for="frontChannelLogoutUri">Front Channel Logout Uri</label>
                                    <input type="text" class="form-control" id="frontChannelLogoutUri" data-ng-model="vm.selectedClient.frontChannelLogoutUri" data-ng-change="vm.setModified(vm.selectedClient)">
                                </div>
                                <div class="form-group">
                                    <label for="logoUri">Logo Uri</label>
                                    <input type="text" class="form-control" id="logoUri" data-ng-model="vm.selectedClient.logoUri" data-ng-change="vm.setModified(vm.selectedClient)">
                                </div>
                                <div class="form-group">
                                    <label for="clientClaimsPrefix">Client Claims Prefix</label>
                                    <input type="text" class="form-control" id="clientClaimsPrefix" data-ng-model="vm.selectedClient.clientClaimsPrefix" data-ng-change="vm.setModified(vm.selectedClient)">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" data-ng-model="vm.selectedClient.allowAccessTokensViaBrowser" data-ng-change="vm.setModified(vm.selectedClient)">Allow Access Tokens Via Browser
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" data-ng-model="vm.selectedClient.allowOfflineAccess" data-ng-change="vm.setModified(vm.selectedClient)">Allow Offline Access
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" data-ng-model="vm.selectedClient.allowPlainTextPkce" data-ng-change="vm.setModified(vm.selectedClient)">Allow Plain Text Pkce
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" data-ng-model="vm.selectedClient.allowRememberConsent" data-ng-change="vm.setModified(vm.selectedClient)">Allow Remember Consent
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" data-ng-model="vm.selectedClient.alwaysIncludeUserClaimsInIdToken" data-ng-change="vm.setModified(vm.selectedClient)">Always Include User Claims In Id Tokens
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" data-ng-model="vm.selectedClient.alwaysSendClientClaims" data-ng-change="vm.setModified(vm.selectedClient)">Always Send Client Claims
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" data-ng-model="vm.selectedClient.backChannelLogoutSessionRequired" data-ng-change="vm.setModified(vm.selectedClient)">Back Channel Logout Session Required
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" data-ng-model="vm.selectedClient.enableLocalLogin" data-ng-change="vm.setModified(vm.selectedClient)">Enable Local Login
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" data-ng-model="vm.selectedClient.frontChannelLogoutSessionRequired" data-ng-change="vm.setModified(vm.selectedClient)">Front Channel Logout Session Required
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" data-ng-model="vm.selectedClient.includeJwtId" data-ng-change="vm.setModified(vm.selectedClient)">Include Jwt Id
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" data-ng-model="vm.selectedClient.requireClientSecret" data-ng-change="vm.setModified(vm.selectedClient)">Require Client Secret
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" data-ng-model="vm.selectedClient.requireConsent" data-ng-change="vm.setModified(vm.selectedClient)">Require Consent
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" data-ng-model="vm.selectedClient.requirePkce" data-ng-change="vm.setModified(vm.selectedClient)">Require Pkce
                                    </label>
                                </div>

                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" data-ng-model="vm.selectedClient.updateAccessTokenClaimsOnRefresh" data-ng-change="vm.setModified(vm.selectedClient)">Update Access Token Claims On Refresh
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="pairWiseSubjectSalt">Pair Wise Subject Salt</label>
                                    <input type="text" class="form-control" id="pairWiseSubjectSalt" data-ng-model="vm.selectedClient.pairWiseSubjectSalt" data-ng-change="vm.setModified(vm.selectedClient)">
                                </div>
                                <div class="form-group">
                                    <label for="protocolType">Protocol Type</label>
                                    <input type="text" class="form-control" id="protocolType" data-ng-model="vm.selectedClient.protocolType" data-ng-change="vm.setModified(vm.selectedClient)">
                                </div>
                                <div class="form-group">
                                    <label for="userCodeType">User Code Type</label>
                                    <input type="text" class="form-control" id="userCodeType" data-ng-model="vm.selectedClient.userCodeType" data-ng-change="vm.setModified(vm.selectedClient)">
                                </div>

                            </div>
                        </div>
                    </form>
                </div>

                <div class="row" data-ng-show="vm.selectedTab === 'AllowedCorsOrigins'">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="border-top-0">Origin</th>
                                    <th class="border-top-0">Created</th>
                                    <th class="border-top-0">Updated</th>
                                    <th class="border-top-0"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="allowedCorsOrigin in vm.selectedClient.allowedCorsOrigins" data-ng-class="{'new-item': allowedCorsOrigin.state == 1, 'updated-item': allowedCorsOrigin.state == 2, 'deleted-item': allowedCorsOrigin.state == 3 || allowedCorsOrigin.state == 4 }">
                                    <td><input class="form-control" type="text" data-ng-model="allowedCorsOrigin.origin" data-ng-change="vm.setModified(allowedCorsOrigin)" /></td>
                                    <td>{{allowedCorsOrigin.created | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td>{{allowedCorsOrigin.updated | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td><img data-ng-click="vm.toggleDelete(allowedCorsOrigin)" alt="trash" height="32" src="/icons/trash.svg" title="trash" width="32" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" type="text" data-ng-model="vm.create.allowedCorsOrigin" /></td>
                                    <td></td>
                                    <td></td>
                                    <td><img data-ng-click="vm.createNewAllowedCorsOrigin()" alt="add" height="32" src="/icons/plus.svg" title="add" width="32" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row" data-ng-show="vm.selectedTab === 'AllowedScopes'">
                    <div class="col-sm-12">
                        <h2>Check the scopes you wish to grant.</h2>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><span class="glyphicon glyphicon-tasks"></span> API Resources</h3>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item" data-ng-repeat="apiResource in vm.selectedClient.identityServerApiResources">
                                    <h4 class="list-group-item-heading">{{apiResource.displayName}}</h4>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" data-ng-model="apiResource.selected">{{apiResource.description}}
                                        </label>
                                    </div>
                                    <div data-ng-show="apiResource.identityServerApiResourceScopes.length > 0">
                                        <strong>Scopes</strong>
                                        <ul class="list-unstyled">
                                            <li data-ng-repeat="scope in apiResource.identityServerApiResourceScopes">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" data-ng-model="scope.selected">{{scope.displayName}}
                                                    </label>
                                                    <label for="scope1">{{scope.description}}</label>
                                                </div>
                                            </li>
                                        </ul>

                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> Identity Resources</h3>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item" data-ng-repeat="identityResource in vm.selectedClient.identityServerIdentityResources">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" data-ng-model="identityResource.selected">{{identityResource.displayName}}
                                        </label>
                                        <label for="scope1">{{identityResource.description}}</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row" data-ng-show="vm.selectedTab === 'AllowedGrants'">
                    <div class="col-sm-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="border-top-0">Grant Type</th>
                                    <th class="border-top-0">Created</th>
                                    <th class="border-top-0">Updated</th>
                                    <th class="border-top-0"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="allowedGrantType in vm.selectedClient.allowedGrantTypes" data-ng-class="{'new-item': allowedGrantType.state == 1, 'updated-item': allowedGrantType.state == 2, 'deleted-item': allowedGrantType.state == 3 || allowedGrantType.state == 4 }">
                                    <td><input class="form-control" type="text" data-ng-model="allowedGrantType.grantType" data-ng-change="vm.setModified(allowedGrantType)" /></td>
                                    <td>{{allowedGrantType.created | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td>{{allowedGrantType.updated | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td><img data-ng-click="vm.toggleDelete(allowedGrantType)" alt="trash" height="32" src="/icons/trash.svg" title="trash" width="32" /></span></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" type="text" data-ng-model="vm.create.allowedGrantType" /></td>
                                    <td></td>
                                    <td></td>
                                    <td><img data-ng-click="vm.createNewAllowedGrantType()" alt="add" height="32" src="/icons/plus.svg" title="add" width="32" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12">
                        <a href="http://docs.identityserver.io/en/latest/topics/grant_types.html">Help</a>
                        <ul>
                            <li>Implicit = "implicit"</li>
                            <li>Hybrid = "hybrid"</li>
                            <li>AuthorizationCode = "authorization_code"</li>
                            <li>ClientCredentials = "client_credentials"</li>
                            <li>ResourceOwnerPassword = "password"</li>
                            <li>DeviceFlow = "urn:ietf:params:oauth:grant-type:device_code"</li>
                        </ul>
                    </div>
                </div>
                <div class="row" data-ng-show="vm.selectedTab === 'Claims'">
                    <div class="col-sm-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="border-top-0">Type</th>
                                    <th class="border-top-0">Value</th>
                                    <th class="border-top-0">Created</th>
                                    <th class="border-top-0">Updated</th>
                                    <th class="border-top-0"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="claim in vm.selectedClient.claims" data-ng-class="{'new-item': claim.state == 1, 'updated-item': claim.state == 2, 'deleted-item': claim.state == 3 || claim.state == 4 }">

                                    <td><input class="form-control" type="text" data-ng-model="claim.type" data-ng-change="vm.setModified(claim)" /></td>
                                    <td><input class="form-control" type="text" data-ng-model="claim.value" data-ng-change="vm.setModified(claim)" /></td>
                                    <td>{{claim.created | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td>{{claim.updated | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td><img data-ng-click="vm.toggleDelete(claim)" alt="trash" height="32" src="/icons/trash.svg" title="trash" width="32" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" type="text" data-ng-model="vm.create.claimType" /></td>
                                    <td><input class="form-control" type="text" data-ng-model="vm.create.claimValue" /></td>
                                    <td></td>
                                    <td></td>
                                    <td><img data-ng-click="vm.createNewClaim()" alt="add" height="32" src="/icons/plus.svg" title="add" width="32" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row" data-ng-show="vm.selectedTab === 'ClientSecrets'">
                    <div class="col-sm-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="border-top-0">Type</th>
                                    <th class="border-top-0">Secret</th>
                                    <th class="border-top-0">Description</th>
                                    <th class="border-top-0">Expiration</th>
                                    <th class="border-top-0">Created</th>
                                    <th class="border-top-0">Updated</th>
                                    <th class="border-top-0"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="clientSecret in vm.selectedClient.clientSecrets" data-ng-class="{'new-item': clientSecret.state == 1, 'updated-item': clientSecret.state == 2, 'deleted-item': clientSecret.state == 3 || clientSecret.state == 4 }">
                                    <td><input class="form-control" type="text" data-ng-model="clientSecret.type" data-ng-change="vm.setModified(clientSecret)" /></td>
                                    <td><input class="form-control" type="text" data-ng-model="clientSecret.value" data-ng-change="vm.setModified(clientSecret)" /></td>
                                    <td><input class="form-control" type="text" data-ng-model="clientSecret.description" data-ng-change="vm.setModified(clientSecret)" /></td>
                                    <td><input class="form-control" type="datetime-local" data-ng-model="clientSecret.expiration" data-ng-change="vm.setModified(clientSecret)" /></td>
                                    <td>{{clientSecret.created | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td>{{clientSecret.updated | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td><img data-ng-click="vm.toggleDelete(clientSecret)" alt="trash" height="32" src="/icons/trash.svg" title="trash" width="32" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" type="text" data-ng-model="vm.create.clientSecretType" /></td>
                                    <td></td>
                                    <td><input class="form-control" type="text" data-ng-model="vm.create.clientSecretDescription" /></td>
                                    <td><input class="form-control" type="text" data-ng-model="vm.create.clientSecretExpiration" /></td>
                                    <td></td>
                                    <td></td>
                                    <td><img data-ng-click="vm.createNewClientSecret()" alt="add" height="32" src="/icons/plus.svg" title="add" width="32" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row" data-ng-show="vm.selectedTab === 'IdentityProviderRestrictions'">
                    <div class="col-sm-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="border-top-0">Provider</th>
                                    <th class="border-top-0">Created</th>
                                    <th class="border-top-0">Updated</th>
                                    <th class="border-top-0"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="identityProviderRestriction in vm.selectedClient.identityProviderRestrictions" data-ng-class="{'new-item': identityProviderRestriction.state == 1, 'updated-item': identityProviderRestriction.state == 2, 'deleted-item': identityProviderRestriction.state == 3 || identityProviderRestriction.state == 4 }">
                                    <td><input class="form-control" type="text" data-ng-model="identityProviderRestriction.provider" data-ng-change="vm.setModified(identityProviderRestriction)" /></td>
                                    <td>{{identityProviderRestriction.created | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td>{{identityProviderRestriction.updated | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td><img data-ng-click="vm.toggleDelete(identityProviderRestriction)" alt="trash" height="32" src="/icons/trash.svg" title="trash" width="32" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" type="text" data-ng-model="vm.create.identityProviderRestriction" /></td>
                                    <td></td>
                                    <td></td>
                                    <td><img data-ng-click="vm.createNewIdentityProviderRestriction()" alt="add" height="32" src="/icons/plus.svg" title="add" width="32" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row" data-ng-show="vm.selectedTab === 'PostLogoutRedirectUris'">
                    <div class="col-sm-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="border-top-0">Post Logout Redirect Uri</th>
                                    <th class="border-top-0">Created</th>
                                    <th class="border-top-0">Updated</th>
                                    <th class="border-top-0"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="postLogoutRedirectUri in vm.selectedClient.postLogoutRedirectUris" data-ng-class="{'new-item': postLogoutRedirectUri.state == 1, 'updated-item': postLogoutRedirectUri.state == 2, 'deleted-item': postLogoutRedirectUri.state == 3 || postLogoutRedirectUri.state == 4 }">
                                    <td><input class="form-control" type="text" data-ng-model="postLogoutRedirectUri.postLogoutRedirectUri" data-ng-change="vm.setModified(postLogoutRedirectUri)" /></td>
                                    <td>{{postLogoutRedirectUri.created | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td>{{postLogoutRedirectUri.updated | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td><img data-ng-click="vm.toggleDelete(postLogoutRedirectUri)" alt="trash" height="32" src="/icons/trash.svg" title="trash" width="32" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" type="text" data-ng-model="vm.create.postLogoutRedirectUri" /></td>
                                    <td></td>
                                    <td></td>
                                    <td><img data-ng-click="vm.createNewPostLogoutRedirectUri()" alt="add" height="32" src="/icons/plus.svg" title="add" width="32" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row" data-ng-show="vm.selectedTab === 'RedirectUris'">
                    <div class="col-sm-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="border-top-0">Origin</th>
                                    <th class="border-top-0">Created</th>
                                    <th class="border-top-0">Updated</th>
                                    <th class="border-top-0"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="redirectUri in vm.selectedClient.redirectUris" data-ng-class="{'new-item': redirectUri.state == 1, 'updated-item': redirectUri.state == 2, 'deleted-item': redirectUri.state == 3 || redirectUri.state == 4 }">
                                    <td><input class="form-control" type="text" data-ng-model="redirectUri.redirectUri" data-ng-change="vm.setModified(redirectUri)" /></td>
                                    <td>{{redirectUri.created | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td>{{redirectUri.updated | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td><img data-ng-click="vm.toggleDelete(redirectUri)" alt="trash" height="32" src="/icons/trash.svg" title="trash" width="32" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" type="text" data-ng-model="vm.create.redirectUri" /></td>
                                    <td></td>
                                    <td></td>
                                    <td><img data-ng-click="vm.createNewRedirectUri()" alt="add" height="32" src="/icons/plus.svg" title="add" width="32" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    

