@{
    ViewBag.NgAppName = "app";
}

@section Scripts {
    @{await Html.RenderPartialAsync("_Angular");}
}

<style>
    .sortorder:after {
        content: '\25b2';
    }

    .sortorder.reverse:after {
        content: '\25bc';
    }

    .table-menu {
        margin-top: 2em;
    }

    .margin-bottom {
        margin-bottom: .5em;
    }

    .new-item {
        background-color: #caf9d7 !important;
    }

    .updated-item {
        background-color: #f9efca !important;
    }

    .deleted-item {
        background-color: #f9caca !important;
    }
</style>
<div class="container-fluid ng-cloak" data-ng-controller="IdentityServerIdentityResourceController as vm">
    <div class="row" data-ng-hide="vm.selectedIdentityResource !== null">
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Display Name</th>
                        <th>Description</th>
                        <th>Active</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="identityResource in vm.identityResources">
                        <td><a data-ng-click="vm.selectIdentityResource(identityResource)">{{identityResource.name}}</a></td>
                        <td><span class="text-nowrap">{{identityResource.displayName}}</span></td>
                        <td><span class="text-nowrap">{{identityResource.description}}</span></td>
                        <td>{{identityResource.enabled}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div data-ng-if="vm.selectedIdentityResource !== null">
        <div class="row">
            <div class="col-sm-12 inlineBlock">
                <h1>{{vm.selectedIdentityResource.displayName}}</h1>
            </div>
        </div>
        <div class="row margin-bottom">
            <div class="col-sm-12">
                <button data-ng-click="vm.saveIdentityResource()" class="btn btn-primary">Save</button>
                <button data-ng-click="vm.undoChanges()" class="btn btn-warning">Undo</button>
                <button data-ng-click="vm.selectedIdentityResource = null" class="btn btn-default">Close</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs">
                    <li role="presentation" data-ng-class="{'active': vm.selectedTab === 'General'}"><a data-ng-click="vm.selectedTab = 'General'">General</a></li>
                    <li role="presentation" data-ng-class="{'active': vm.selectedTab === 'Claims'}"><a data-ng-click="vm.selectedTab = 'Claims'">Claims</a></li>
                    <li role="presentation" data-ng-class="{'active': vm.selectedTab === 'Properties'}"><a data-ng-click="vm.selectedTab = 'Properties'">Properties</a></li>
                </ul>
                <div class="row" data-ng-show="vm.selectedTab === 'General'">
                    <form>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" data-ng-model="vm.selectedIdentityResource.name" data-ng-change="vm.setModified(vm.selectedIdentityResource)">
                            </div>
                            <div class="form-group">
                                <label for="displayName">Display Name</label>
                                <input type="text" class="form-control" id="displayName" data-ng-model="vm.selectedIdentityResource.displayName" data-ng-change="vm.setModified(vm.selectedIdentityResource)">
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <input type="text" class="form-control" id="description" data-ng-model="vm.selectedIdentityResource.description" data-ng-change="vm.setModified(vm.selectedIdentityResource)">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" data-ng-model="vm.selectedIdentityResource.enabled" data-ng-change="vm.setModified(vm.selectedIdentityResource)">Enabled
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" data-ng-model="vm.selectedIdentityResource.required" data-ng-change="vm.setModified(vm.selectedIdentityResource)">Required
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" data-ng-model="vm.selectedIdentityResource.emphasize" data-ng-change="vm.setModified(vm.selectedIdentityResource)">Emphasize
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" data-ng-model="vm.selectedIdentityResource.showInDiscoveryDocument" data-ng-change="vm.setModified(vm.selectedIdentityResource)">Show In Discovery Document
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row" data-ng-show="vm.selectedTab === 'Claims'">
                    <div class="col-sm-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Created</th>
                                    <th>Updated</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="claim in vm.selectedIdentityResource.claims" data-ng-class="{'new-item': claim.state == 1, 'updated-item': claim.state == 2, 'deleted-item': claim.state == 3 || claim.state == 4 }">

                                    <td><input class="form-control" type="text" data-ng-model="claim.type" data-ng-change="vm.setModified(claim)" /></td>
                                    <td>{{claim.created | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td>{{claim.updated | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td><span data-ng-click="vm.toggleDelete(claim)" class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" type="text" data-ng-model="vm.create.claimType" /></td>
                                    <td></td>
                                    <td></td>
                                    <td><span data-ng-click="vm.createNewClaim()" class="glyphicon glyphicon-save" aria-hidden="true"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row" data-ng-show="vm.selectedTab === 'Properties'">
                    <div class="col-sm-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Key</th>
                                    <th>Value</th>
                                    <th>Created</th>
                                    <th>Updated</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="property in vm.selectedIdentityResource.properties" data-ng-class="{'new-item': property.state == 1, 'updated-item': property.state == 2, 'deleted-item': property.state == 3 || property.state == 4 }">
                                    <td><input class="form-control" type="text" data-ng-model="property.key" data-ng-change="vm.setModified(property)" /></td>
                                    <td><input class="form-control" type="text" data-ng-model="property.value" data-ng-change="vm.setModified(property)" /></td>
                                    <td>{{property.created | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td>{{property.updated | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td><span data-ng-click="vm.toggleDelete(property)" class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" type="text" data-ng-model="vm.create.propertyKey" /></td>
                                    <td><input class="form-control" type="text" data-ng-model="vm.create.propertyValue" /></td>
                                    <td></td>
                                    <td></td>
                                    <td><span data-ng-click="vm.createNewProperty()" class="glyphicon glyphicon-save" aria-hidden="true"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

