@model Rinsen.InnovationBoost.Models.DeviceConsentModel
@{
    ViewData["Title"] = "Index";
}

    
    <div class="container">
        <div class="page-header">
            <h1>
                Denied
                <small>You have successfully denied the device</small>
            </h1>
        </div>
    </div>