@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutIdentity";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Hello @User.Identity.Name!</h1>

            @if (User.HasClaim(c => c.Type == Rinsen.IdentityProvider.RinsenClaimTypes.Administrator && c.Value == "True"))
            {
                @Html.ActionLink("Dashboard", "Index", "Dashboard")
            }
            </div>
    </div>
</div>